<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>法院送达管理系统</title>
		<link rel="stylesheet" type="text/css" href="resources/css/login.css">
	</head>
	<body>
		<div id="content">
			<form>
				<label for="username">
					用户名：
				</label>
				<input type="text" id="username" name="username">
				<br />
				<label for="password">
					密&nbsp;&nbsp;码：
				</label>
				<input type="text" id="password" name="password">
				<br />
				<input type="checkbox" id="c_memory" name="c_memory">
				<label style="font-size: 12px;" for="c_memory">
					记住用户名和密码
				</label>
				<br />
				<input type="submit" value="登 录">
			</form>
			<div id="footer">
				人民法院 版权所有
			</div>
		</div>
	</body>
</html>